<h1>Add an order</h1>
<p>Add an order here:</p>

<form action="/orders" method="post">
  <label for="title">Order Title:</label>
  <input id="title" name="title" type="text">

  <label for="date">Order date:</label>
  <input id="date" name="date" type="text">

  <label for="details">Order details:</label>
  <input id="details" name="details" type="text">

  <label for="price">Order price:</label>
  <input id="price" name="price" type="text">


  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/orders">Back to categories.</a></p>