<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add New Order </title>
</head>
<body>
  <h1>Please add Order:</h1>
  <form action="/vendors/{id}" method="post">
  
    <label for="title">Order Title</label>
    <input type="text" id="title" name="title">
    
    <label for="date">When is the order being placed?</label>
    <input type="text" id="date" name="date">

    <label for="details">What are they ordering?</label>
    <input type="text" id="details" name="details">

    <label for="price">price:</label>
    <input type="text" id="price" name="price">

    <button type="submit">Order Up</button>
  
  </form>
</body>
</html>