
@using Tracker.Models;

<h2>@Model.Business</h2>
<h3>@Model.Buyer</h2>
<h4>@Model.Description</h2>

@foreach (Order order in Model.AllOrders)
{
  <h2>@order.Title</h2>

}

<a href='/vendors'><button type="submit">View Vendors</button></a>
<a href='/vendors/@Model.Id/orders/new'><button type="submit">Add an Order</button></a>
