@using Tracker.Models

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vendor List</title>
</head>
<body>

  <h1>Vendor Details</h1>

  @if (Model.Count == 0)
  {
    <h1>go away</h1>
  }
  else
  {
    <ul>
    @foreach (Vendor vendor in Model)
    {
      <li><a href='/vendors/@vendor.Business'>@vendor.Business</a></li>
    }
    </ul>
  }

  <a href= '/'>Go back</a>
  
</body>
</html>