<h1>Trip Details</h1>
<h2>@Model.Business</h2>
<h3>@Model.Buyer</h2>
<h4>@Model.Description</h2>


<a href='/vendors/new'><button type="submit">Add another vendor</button></a>
<a href='/vendors'><button type="submit">View Vendors</button></a>
<a href='/orders'><button type="submit">Add an Order</button></a>
